$assassin-background-color: #000000; // Black
$assassin-color: #ffffff; // White

$ambassador-background-color: #ffa500; // Orange
$ambassador-color: #000000; // Black

$captain-background-color: #000080; // Navy
$captain-color: #ffffff; // White

$contessa-background-color: #dc143c; // Crimson
$contessa-color: #000000; // Black

$duke-background-color: #ff00ff; // Fuscia
$duke-color: #000000; // Black