$assassin-background-color: #000000; // Black
$assassin-color: #ffffff; // White

// $ambassador-background-color: #ffa500; // Orange
$ambassador-background-color: #d0d000; // Lime-Yellowy
$ambassador-color: #000000; // Black

$captain-background-color: #0000b0; // Lighter-Navy
$captain-color: #ffffff; // White

$contessa-background-color: #dc143c; // Crimson
$contessa-color: #000000; // Black

$duke-background-color: #c000c0; // Darker Fuscia
$duke-color: #000000; // Black